*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-menu .menu {
    display: none;
  }

  .address {
    display: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  .icon-burger {
    position: absolute;
    fill: #2f2f37;
    z-index: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 17.5px 0;
}

.logos {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0 0 0 120px;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.menu .link {
  display: block;
  gap: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.link.current {
  position: relative;
  color: #404bbf;
}

.link.current::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
}

.address ul {
  font-style: normal;
}

.studio {
  display: block;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  padding: 72px 0;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .studio {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile-2x.jpg);
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  width: 216px;
  margin: 0 auto 72px;
}

.studio-button {
  display: block;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-button:hover,
.studio-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  padding: 96px 0;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.description-icon {
  display: none;
}

.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.workers {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 264px;
}

.workers .icon-absolute {
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  fill: #f4f4fd;
  z-index: 1;
}

.workers-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-icon-link:hover,
.workers-icon-link:focus {
  background-color: #404bbf;
}

.workers-title,
.workers-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.info {
  padding: 32px 0;
}

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.portfolio-list-info {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-info:hover,
.portfolio-list-info:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-info:hover .text-cashless {
  transform: translateY(0%);
}

.portfolio-info {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-info-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.text-cashless {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container-text {
  color: #f4f4fd;
  display: block;
  text-align: left;
}

.footer .logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer .logos {
  color: #f4f4fd;
}

.footer-social-icon {
  margin: 72px 0;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  margin: 0;
}

.footer-container {
  text-align: center;
}

.text-social {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

p {
  margin: 0;
}

.workers .icon-relative {
  width: 40px;
  height: 40px;
  position: relative;
}

.icon-relative {
  position: relative;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.icon-absolute {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  fill: #f4f4fd;
  z-index: 1;
}

.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  padding-left: 16px;
}

.email-input::placeholder {
  color: #ffffff;
}

.email-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 16px auto 0;
}

.email-button:hover,
.email-button:focus {
  background-color: #404bbf;
}

.icon-email {
  margin-left: 16px;
}

.subscribe {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  border-radius: 4px;
  width: 288px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close .icon-close {
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
}

.close:hover .icon-close,
.close:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-box {
  margin-bottom: 8px;
}

.label-form {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-position-icon {
  position: relative;
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-form:focus-within {
  border-color: #4d5ae5;
}
.info-form:focus-within + .icon-modal {
  fill: #4d5ae5;
}

.form-box-comment {
  margin-bottom: 16px;
}

.comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus-within {
  border-color: #4d5ae5;
}

.policy-form {
  margin-bottom: 24px;
}

.policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.text-policy {
  color: #4d5ae5;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.check-true {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  flex-shrink: 0;
}

.policy-check:checked + .policy > .check-true {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-check:focus + .policy > .check-true {
  border-color: #4d5ae5;
}

.modal-send {
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover {
  background-color: #404bbf;
}

.modal-overlay-menu {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-menu {
  position: absolute;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  top: 80px;
  left: 41px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}

.menu-mobile .link {
  color: #2e2f42;
}

.menu-mobile .active {
  color: #404bbf;
}

.address-mobile .address-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  bottom: 128px;
  left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.address-mobile .address-list .link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mobile .address-list .link:hover,
.address-mobile .address-list .link:focus {
  color: #404bbf;
}

.social-icon-mobile {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 40px;
}

.icon-relative-mobile {
  width: 40px;
  height: 40px;
  position: relative;
}

.mobile-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header .container {
    height: 72px;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    margin: 24px auto;
  }

  .address .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address .link {
    text-align: end;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }

  .studio {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
    padding: 112px 0;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .studio {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet-2x.jpg);
    }
  }

  .title {
    font-size: 56px;
    line-height: 107%;
    width: 496px;
    margin-bottom: 36px;
  }

  .description-title {
    text-align: left;
  }

  .description-list {
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .description-list-info {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .info {
    padding: 32px 16px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-list-info {
    width: calc((100% - 24px) / 2);
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 108px;
  }

  .footer-container {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
    text-align: left;
  }

  .footer-container-text {
    text-align: left;
  }

  .footer-social-icon {
    margin: 0;
  }

  .text-social {
    text-align: left;
  }

  .subscribe {
    text-align: left;
  }

  .form-email {
    display: flex;
    margin: 0;
  }

  .email-input {
    width: 264px;
  }

  .email-button {
    margin: 0;
    margin-left: 24px;
  }

  .modal {
    width: 408px;
    height: 584px;
  }

  .modal-overlay-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .menu,
  .address-list {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-left: 156px;
  }

  .logo-menu {
    display: flex;
    gap: 76px;
  }

  .menu {
    margin: 0;
  }

  .address .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address .link {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .link:hover,
  .address .link:focus {
    color: #404bbf;
  }

  .studio {
    display: block;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-pc.jpg);
    width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .studio {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-pc-2x.jpg);
    }
  }

  .title {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
  }

  .description {
    width: 100%;
    padding: 120px 0;
  }

  .description-list {
    gap: 24px;
    justify-content: center;
  }

  .description-list-info {
    width: calc((100% - 72px) / 4);
  }

  .description-list-info p {
    text-align: left;
  }

  .description .container ul {
    display: flex;
    gap: 24px;
  }

  .description-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
  }

  .description-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }

  .description-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team .container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    flex-wrap: wrap;
    gap: 48px 24px;
    box-shadow: none;
  }

  .portfolio-list li {
    width: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .footer .container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 0 15px;
  }

  .footer-container {
    margin: 0;
    margin-right: 120px;
    text-align: left;
  }

  .footer .logo {
    margin-bottom: 16px;
  }

  .footer-social-icon {
    margin-right: 80px;
  }

  .footer-icon {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .email-input {
    margin-left: 0;
  }

  .subscribe {
    text-align: start;
    margin-left: 0;
  }

  .label-subscribe {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
  }

  .email-form {
    width: 453px;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
}
